PORT=3000

DB_HOST=localhost
DB_PORT=3306
DB_USER=switch_monitor
DB_PASSWORD=change-me
DB_NAME=switch_monitor

SESSION_SECRET=change-this-to-a-long-random-value

SNMP_POLL_INTERVAL=*/5 * * * *
ICMP_POLL_INTERVAL=*/1 * * * *

